<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Down To Play</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta name="description" content="DownToPlay tells you who is down to play games.">
    <!--[if gte IE 9 | !IE ]><!-->
    <link href="../wet-boew/assets/favicon.ico" rel="icon" type="image/x-icon">
    <link rel="stylesheet" href="../wet-boew/css/theme.min.css">
    <!--<![endif]-->
    <!--[if lt IE 9]>
            <link href="../wet-boew/assets/favicon.ico" rel="shortcut icon" />
            <link rel="stylesheet" href="../wet-boew/css/ie8-theme.min.css" />
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script src="../wet-boew/js/ie8-wet-boew.min.js"></script>
            <![endif]-->
    <noscript><link rel="stylesheet" href="../wet-boew/css/noscript.min.css" /></noscript>

</head>
<body>
    <header role="banner">
        <div id="wb-bnr">
            <div id="wb-bar">
                <div class="container">
                    <div class="row">
                        <section id="wb-lng" class="visible-md visible-lg">
                            <h2>Language selection</h2>
                            <ul class="text-right">
                                <li><a lang="fr" hreflang="fr" href="..\">Français</a></li>
                                <li class="curr">English&#32;<span>(current)</span></li>
                            </ul>
                        </section>
                        <section class="wb-mb-links col-xs-12 visible-sm visible-xs" id="wb-glb-mn">
                            <h2>Menu</h2>
                            <ul class="pnl-btn list-inline text-right">
                                <li><a href="#mb-pnl" title="menus" aria-controls="mb-pnl" class="overlay-lnk btn btn-sm btn-default" role="button"><span class="glyphicon glyphicon-search"><span class="glyphicon glyphicon-th-list"><span class="wb-inv">Search and menus</span></span></span></a></li>
                            </ul>
                            <div id="mb-pnl">

                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <div class="container" style="padding: 10px">
                <div class="row">
                    <div id="wb-sttl" class="col-md-8">
                        <a href="/">
                            <span>Down To Play<span class="wb-inv">, </span></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <nav role="navigation" id="wb-sm" data-trgt="mb-pnl" data-ajax-replace="../ajax/sitemenu-en.html" class="wb-menu visible-md visible-lg" typeof="SiteNavigationElement">
            <div class="container nvbar">
                <h2>Topics menu</h2>
                <div class="row">
                    <ul class="list-inline menu" role="menubar">
                        <li><a role="menuitem" href="../">All Games</a></li>
                        <partial name="_LoginPartial" />
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" property="mainContentOfPage" class="container">
        @RenderBody()
    </main>
    <footer role="contentinfo" id="wb-info" class="visible-sm visible-md visible-lg wb-navcurr"></footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>

    </environment>
    <!--[if gte IE 9 | !IE ]><!-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="../wet-boew/js/wet-boew.min.js"></script>
    <!--<![endif]-->
    <!--[if lt IE 9]>
            <script src="../wet-boew/js/ie8-wet-boew2.min.js"></script>

            <![endif]-->
    @RenderSection("Scripts", required: false)
</body>
</html>
