@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form id="logoffform"asp-controller="Account" asp-action="LogOff" asp-route-returnUrl="@Url.Action("Index", "GameSessions", new { area = "" })" method="post" id="logoutForm">
        <ul class="list-inline menu" role="menubar">
            <li>
                <a role="menuitem" asp-controller="Games" asp-action="Create">Create New</a>
            </li>
            <li>
                <a role="menuitem" onclick="document.getElementById('logoffform').submit()">Logout</a>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="list-inline menu" role="menubar">
        <li><a asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a asp-controller="Account" asp-action="Login">Login</a></li>
    </ul>
}